.App{
  height: 100vh;
  width: 100vw;
  color: white;
}

.searchbar{
  padding-top: 6vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
  gap: 4px;
}

.popularlist{
  display: flex;
  gap: 1rem;
}
